h1 {
    background-color: lightsteelblue;
    color: aliceblue;
    font-style: oblique;
    text-align: center;
}
h2{
    text-align: left;
    font-style: oblique;
    color:lightsteelblue;
    text-align: center;
}
table{
    padding-left: 30px;
    padding-top: 50px;
    text-align: left;
    font-style: oblique;
    font-size:large;
}
#profile{
    width: 100%;
    height: 100%;
    border:2px solid lightsteelblue;
    border-radius: 20px;
    text-align: center;
    color: lightslategray;
    padding-top: 20px;
    padding-bottom: 20px;
}
#like{
    margin-top: 20px;
}